body{
    background-color: hsl(155, 24%, 59%);
}	
.to-do-list {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1{
    font-size: 4rem;
    color: 	hsl(237, 19%, 34%);
}
button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.add-button{
    background-color: hsl(156, 46%, 33%);
}
.add-button:hover{
    background-color: hsl(156, 46%, 23%);
}
.delete-button{
    background-color: hsl(9, 59%, 46%);
}
.delete-button:hover{
    background-color: hsl(9, 59%, 36%);
}
.move-button{
    background-color: hsl(284, 47%, 33%);
}
.move-button:hover{
    background-color: hsl(284, 47%, 23%);
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.5);
}
ol{
    padding: 0; 
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(18, 71%, 89%);
    margin-bottom: 10px;
    border: 3px solid hsla(17, 30%, 76%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text{
    flex: 1;
}
.delete-button, .move-button {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}
